################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DashboardApp/.vs/DashboardApp/FileContentIndex/0b1aac42-f497-489c-b262-514c34ab0297.vsidx
/DashboardApp/.vs/DashboardApp/FileContentIndex/d6c31dec-8f40-452e-a24c-8c3f24c5005a.vsidx
/GoogleCalendarIntegrationTest/bin/Debug/net8.0/Config